/* External CSS*/
.intro2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.box3 {
    font-size: 40px;
    color: #949398FF;
}

.box4 {
    font-size: 80px;
    color: #F4DF4EFF;
    font-weight: bold;
}